{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block pagetitle %} Settings {% endblock %}
{% block pagehead %} <h5><i class="bi bi-{{  vars['page-icon'] }}"></i> Settings</h5> {% endblock %}
{% block pagetab %}
<nav class="tab-nav">
    <div class="nav nav-tabs justify-content-end d-flex" id="nav-tab" role="tablist">
        <button class="nav-link shadow-none rounded-0 {{ 'active' if tab == 1 else '' }}" id="nav-home-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">RTSP
            Links
        </button>
        <button class="nav-link shadow-none rounded-0 {{ 'active' if tab == 2 else '' }}" id="nav-profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                aria-selected="false">Videos
        </button>
        <button class="nav-link shadow-none rounded-0 {{ 'active' if tab == 3 else '' }}" id="nav-contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                aria-selected="false">Areas
        </button>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade {{ 'show active' if tab == 1 else '' }}" id="nav-home" role="tabpanel"
         aria-labelledby="nav-home-tab">
        {% include 'rstp-create.html' %}
    </div>
    <div class="tab-pane fade {{ 'show active' if tab == 2 else '' }}" id="nav-profile" role="tabpanel"
         aria-labelledby="nav-profile-tab">
        {% include 'video-upload.html' %}
    </div>
    <div class="tab-pane fade {{ 'show active' if tab == 3 else '' }}" id="nav-contact" role="tabpanel"
         aria-labelledby="nav-contact-tab">
        {% include 'area-create.html' %}
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div aria-live="polite" aria-atomic="true">
    <div class="toast-container position-absolute top-0 end-0 p-3">
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-emoji-frown"></i>
                <strong class="me-auto">&nbsp; Error</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ message }}.
            </div>
        </div>
        {% else %}
        <div class="toast bg-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-emoji-smile"></i>
                <strong class="me-auto">&nbsp; Success</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ message }}.
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}
{% endblock %}
{% block page_script %}
<script>

    let map1 = null
    let map2 = null
    let map3 = null

    function activaRtspTab(tab, optiionVal, lat, lng) {
        $('.nav-tabs #' + tab).tab('show');
        $('#exampleModal').modal('show')
        $('#select-area-for-rtsp option[value="' + optiionVal + '"]').attr('selected', 'selected')
    }

    function activaVideoTab(tab, optiionVal, lat, lng) {
        $('.nav-tabs #' + tab).tab('show');
        $('#exampleModal1').modal('show')
        $('#select-area-for-rtsp option[value="' + optiionVal + '"]').attr('selected', 'selected')
    }

    function activateTab(tab, optionVal, modalId, selectId) {
        $('.nav-tabs #' + tab).tab('show');
        $(modalId).modal('show')
        $('' + selectId + ' option[value="' + optionVal + '"]').attr('selected', 'selected')

    }

    let lat = null
    let lng = null

    $(document).ready(function () {
        $("#exampleModal").on('shown.bs.modal', function () {
            if (map1 == null) {
                let options = {
                    isSearchable: false,
                    isAddMarker: true,
                    icon: rtspIcon,
                    text: "RTSP Link"
                }
                map1 = addMap("map1", options, function (latlng) {
                    $("input[name='rtsp_lat']").val(latlng.lat)
                    $("input[name='rtsp_long']").val(latlng.lng)
                })
            }

            if (lat && lng) {
                map1.panTo([lng, lat]);
            }
        });
        $("#exampleModal1").on('shown.bs.modal', function () {
            if (map2 == null) {
                let options = {
                    isSearchable: false,
                    isAddMarker: true,
                    icon: vidIcon,
                    text: "Recorded video"
                }
                map2 = addMap("map2", options, function (latlng) {
                    $("input[name='rtsp_lat']").val(latlng.lat)
                    $("input[name='rtsp_long']").val(latlng.lng)
                })
            }
            if (lat && lng) {
                map2.panTo([lng, lat]);
            }
        });
        $("#exampleModal2").on('shown.bs.modal', function () {
            if (map3 == null) {
                let options = {
                    isSearchable: true,
                    isAddMarker: false
                }
                map3 = addMap("map3", options, function (latlng, label) {
                    $("input[name='area_lat']").val(latlng.lat)
                    $("input[name='area_long']").val(latlng.lng)
                    areaName = label.split(",")[0]
                    $("input[name='area_name']").val(areaName)
                    $("input[name='des']").val(label)
                })
            }
        });

        $(".view-area-link").click(function(){
            let area_id = $(this).attr('rel');
            $.get("{{ url_for('view.current_area') }}?area_id=" + area_id, function (data, status) {
                if (status == 'success') {
                    window.location = '{{ url_for("view.home") }}'
                }
            })
        });

        $(".add-rtsp-from-area").click(function () {
            lat = $(this).attr('data-lat')
            lng = $(this).attr('data-long')
            activateTab("nav-home-tab", $(this).attr('rel'), "#exampleModal", "#select-area-for-rtsp")
        });

        $(".add-video-from-area").click(function () {
            lat = $(this).attr('data-lat')
            lng = $(this).attr('data-long')
            activateTab("nav-profile-tab", $(this).attr('rel'), "#exampleModal1", "#select-area-for-video")
        });

        $("#select-area-for-rtsp").change(function () {
            $("#select-area-for-rtsp option:selected").each(function () {
                lat = $(this).attr('data-lat')
                lng = $(this).attr('data-long')
            });
            pan_map(map1, [lng, lat]);
        });

        $("#select-area-for-video").change(function () {
            $("#select-area-for-video option:selected").each(function () {
                lat = $(this).attr('data-lat')
                lng = $(this).attr('data-long')
            });
            pan_map(map2, [lng, lat]);
        });
    })


</script>


{% endblock %}