{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block pagetitle %} Settings {% endblock %}
{% block pagehead %} <h5><i class="bi bi-{{  vars['page-icon'] }}"></i> Settings</h5> {% endblock %}
{% block pagetab %}
<nav class="tab-nav">
  <div class="nav nav-tabs justify-content-end d-flex" id="nav-tab" role="tablist">
    <button class="nav-link shadow-none rounded-0 active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">RTSP Links</button>
    <button class="nav-link shadow-none rounded-0" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Videos</button>
    <button class="nav-link shadow-none rounded-0" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Areas</button>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    {% include 'rstp-create.html' %}
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    {% include 'video-upload.html' %}
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    {% include 'area-create.html' %}
  </div>
</div>
{% endblock %}